.best-offers-page {
    font-family: 'Poppins', sans-serif;
}

.best-offers-page .divider {
    border: 3px solid #8C193F;
    display: flex;
    width: 5%;
    position: relative;
    top: -18px;
    left: 48%;
}

.carousel_advertisment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.slider-button {
    border-radius: 50px;
    border: none;
    border: 1px solid #8C193F80;
    color: #8C193F;
    height: 35px;
    width: 35px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.slider-card {
    width: 215px;
    height: 160px;
    border-radius: 15px;
    margin-right: 10%;
    cursor: pointer;
}

.property-image-sec {
    width: 100%;
    height: 90%;
    overflow: hidden;
    border-radius: 15px;
}

.slider-card img {
    width: 100%;
    height: 90%;
    border-radius: 15px;
    transition: transform ease-in-out .2s;
}

.slider-card img:hover{
    transform : scale(1.1)
}


.property-name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
}

.albion-advertisements{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 60px;
    justify-content: flex-start;
    gap: 10px;
}

.ad-img{
    background-color: white;
    width: 100%;
    height: 100%;
}

.static-banner , .dynamic_banner{
    width: 50%;
    height: 100%;
}