.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section .about-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 70%;
    height: auto;
}

.about-section .about-grid .itemDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.about-section .about-grid .title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 5px;
}

.about-section .about-grid .description {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}