.top-projects-section {
    position: relative;
    width: 70%;
    height: 65vh;
}

.top-projects-section .header-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.top-projects-section .header-sec .allPropBtn {
    width: 174px;
    height: 24px;
    background-color: transparent;
    color: #737373;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    top: 20px;
}

.top-projects-section .text-intro {
    display: flex;
    flex-direction: column;
}

.top-projects-section h1 {
    text-align: left;
    font-size: 26px;
    font-weight: 700;
}

.top-projects-section p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #737373;
    position: relative;
    top: -30px;
}