.footer-banner{
    background-color: #FDE8E980;
    height: 40vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}

.app-buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 30%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.app-buttons img {
    width: 80px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.footer-banner .footer-left-side{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: relative;
    left: 15%;
}

.footer-banner .footer-left-side span{
    margin-top: -12%;
}

.footer-banner .app-image {
    position: absolute;
    right: 2%;
    top: -70%;
    transform: scale(0.9);
}