/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap'); */


.intro_card-section {
    height: auto;
    /* font-family: 'Poppins', sans-serif; */
    padding-top: 4%;
}

.intro_card-section .intro_card-head {
    background-image: url('../../../assets/introbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    padding-top: 4%;
}


.intro_card-section .intro_card-foot {
    background-color: #E8E8E8;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.intro_card-section .intro_card-head .sub-text {
    width: 620px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #737373;
}

.intro_card-section .intro_card-head .filter-card {
    height: 140px;
    width: 76%;
    border-radius: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.intro_card-section .intro_card-head .filter-card .head_sec {
    width: 60%;
    position: relative;
    left: 10%;
    height: 50px;
    display: flex;
    border-radius: 0px 0px 60px 60px;
    background-color: #8C193F;
    padding-left: 10%;
    padding-right: 10%;
}

.intro_card-section .intro_card-head .filter-card .head_sec .cart-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
}

.intro_card-section .intro_card-head .filter-card .head_sec .cart-categories li{
    list-style-type: none;
    cursor: pointer;
}

.intro_card-section .intro_card-head .filter-card .foot_sec {
    border: 1px solid #CCCCCC;
    height: 40%;
    width: 80%;
    position: relative;
    left: 10%;
    border-radius: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.intro_card-section .intro_card-head .banner-sec {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.intro_card-section .intro_card-head .banner-text {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 28%;
}

.intro_card-section .intro_card-head .banner-sec h1 {
    font-size: 35px;
    font-weight: 700;
    text-align: left;

}

.intro_card-section .intro_card-head .banner_img {
    width: 50%;
    z-index: -1;
}

.intro_card-section .intro_card-head .banner_img img {
    display: flex;
    width: 100%;
    align-items: flex-start;
    object-fit: cover;
    transform: scale(2.2);
    position: relative;
    left: -60%;
}

.intro_card-section .intro_card-head .banner-text .main-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}


.placeholder_style {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.search_button {
    width: 160px;
    height: 45px;
    border-radius: 100px;
    background: #6C223A;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.foot-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
    width: 25%;
}

.sub_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.description {
    color: #333333;
    font-size: 12px;
    text-align: left;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}